@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="DisplayElements" asp-action="DisplayIngredients">Liste des ingrédients</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="DisplayElements" asp-action="DisplayRecipes">Liste des recettes</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Prices" asp-action="SellPriceForDrinks">Obtenir un prix</a></p>
</div>
